
body {
    margin: 0px;
    text-align: center;
    font-family: "Helvetica Neue",Arial, Helvetica, sans-serif
}

h1 {
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    color:  #66BFBF;
    line-height: 2;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color:  #66BFBF;
    font-weight: normal;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

p {
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
}

.top-container {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}

.middle-container {
    
}

.bottom-container {
    
}

.en {
    text-decoration: underline;
}

.bottom-cloud {
    position: absolute;
    left: 500px;
    bottom: 300px;
}

.top-cloud {
    position: absolute;
    right: 500px;
    top: 50px;
}

.engineer-photo {
    width: 17%;
    float: left;
    margin-right: 30px;
}

.coding {
    width: 17%;
    float: right;
    margin-left: 30px;
}

.footer-link {
    color: #11999E;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

